.navigation {
  margin: 0;
  padding: 0;
  width: 200px;
  background-color: bisque;
  position: fixed;
  height: auto;
  overflow: auto;
  border: 3px solid black;
}

.navigation a {
  display: block;
  color: black;
  padding: 16px;
  text-decoration: none;
}

.navigation a.active {
  background-color: bisque;
  color: black;
  font-size: 30px;
}

.navigation a:hover:not(.active) {
  background-color: #ffffff;
  color: black;
}

div.content {
  margin-left: 200px;
  padding: 1px 16px;
  height: 1000px;
}

@media screen and (max-width: 700px) {
  .navigation {
    width: 100%;
    height: auto;
    position: relative;
  }
  .navigation a {
    float: left;
  }
  div.content {
    margin-left: 0;
  }
}

@media screen and (max-width: 400px) {
  .navigation a {
    text-align: center;
    float: none;
  }
}
