body {
  margin: 20px;
  background-color: cadetblue;
}
h2 {
  text-align: center;
}
.container {
  display: flex;
  flex-direction: row wrap;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-content: space-between;
  margin-left: 210px;
  border-style: solid;
  padding: 20px;
  margin-top: 10px;
}

.cellStyle {
  border-style: solid;
  margin: 10px;
  padding: 10px;
  border-color: black;
}
