.home-img {
  display: inline-flex;
  flex-direction: row wrap;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-content: space-between;
  margin-left: 270px;
  width: 15%;
  padding: 20px;
  margin-top: 10px;
  border-style: dotted;
}

a {
  color: black;
  text-decoration: none;
}

a:hover {
  color: bisque;
  text-decoration: none;
  cursor: pointer;
}
.text-block {
  position: absolute;
  top: 243px;
  left: 400px;
}
.text-block-second {
  position: absolute;
  top: 243px;
  left: 930px;
}
.text-block-third {
  position: absolute;
  top: 485px;
  left: 400px;
}
.text-block-fourth {
  position: absolute;
  top: 486px;
  left: 930px;
}