footer {
  left: 30%;
  margin: 25px 0px 25px 210px;
  padding: 5px 5px 5px 5px;
  text-align: center;

  background-color: bisque;
  border-style: solid;
  border-color: black;
  color: black;
}

a {
  text-decoration: none;
  color: darkcyan;
}
