.Header {
  left: 30%;
  margin: 25px 0px 25px 210px;
  padding: 25px 25px 25px 25px;
  border: 3px solid black;
  text-align: center;
  font-size: large;

  background-color: bisque;
}

@media only screen and (max-width: 1000px) {
  .Header {
    width: 200px;
  }
}
